* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

header {
  background-color: rgb(49, 49, 53);
  padding: 0em 4em;
  /* height: 10vh; */
}

.sidebar {
  background-color: rgb(241, 107, 58);
  width: 25%;
  padding: 1em 4em;
}

.article {
  background-color: rgb(250, 250, 250);
  padding: 1em 7em;
}

.article h2 {
  color: rgb(49, 49, 53);
  border-bottom: solid rgb(196, 196, 196) 3px;
}

footer {
  background-color: rgb(196, 196, 196);
  padding: 0 4em;
  /* height: 10vh; */
}

h1,
h2 {
  font-size: 2.5rem;
  color: white;
}
